<div class="nav">
  <div class="nav-menu-item">
    <img src="assets/images/logo.png" height="100px">
    <ul>
      <li><a href="#"> Home </a></li>
      <li><a href="#"> Teams </a></li>
      <li><a href="#"> Offers </a></li>
    </ul>
  </div>
</div>
<div class="body">
  <div class="header">
    <h1> Marg Surf Camp</h1>
    <h2> Join us on our Journey. Come Surf, come Swim and come by for a Beer! </h2>
  </div>
  <div class="teamTopic">
    <h1> Our Teams </h1>
  </div>
  <div class="Teams">
    <div class="teamMember" id="teamMember1">
      <img src="assets/images/surf01.jpg">
      <div class="teamMember-info">
        <h2>Alex Laz</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua.</p>
      </div>
    </div>
    <div class="teamMember" id="teamMember2">
      <img src="assets/images/surf02.jpg">
      <div class="teamMember-info">
        <h2>Alex Biose</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua.</p>
      </div>
    </div>
    <div class="teamMember" id="teamMember3">
      <img src="assets/images/surf03.jpg">
      <div class="teamMember-info">
        <h2>Glory Bust</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua.</p>
      </div>
    </div>
    <div class="teamMember" id="teamMember4">
      <img src="assets/images/surf04.jpg">
      <div class="teamMember-info">
        <h2>Dons Los</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua.</p>
      </div>
    </div>
    <div class="teamMember" id="teamMember5">
      <img src="assets/images/surf05.jpg">
      <div class="teamMember-info">
        <h2>Goos Los</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua.</p>
      </div>
    </div>
  </div>
</div>